Integration and access channel requirements
 Humans can access the system by using mobile phones, desktops and tablets to log in through a web browser. This includes all leading web browsers, such as Google Chrome, Mozilla Firefox, Opera, Safari and Internet explorer. HTTPS will be used to send between the browser and the system.
