The system will be accessed through:
•	Mobile devices, desktops and tablets by using web browsers (this includes all leading web browsers such as Google chrome, Mozilla Firefox, Opera, Safari and Internet explorer).
•	RESTful systems.
•	HTTP requests.
