Access channel requirement
1.1.1 Human Access Channels
The system will be accessed through mobile phones, desktops and tablets. Clients will log in through a web browser. This includes all leading web browsers, such as Google Chrome, Mozilla Firefox, Opera, Safari and Internet explorer. A thin client should be provided.